<html>
<head>
  <title>Add a new author/post</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
  <h1>Add a new blog post</h1>
<!--   <form method="post" action="/blog">
    <fieldset>
      <legend>Add a new blog post</legend>

    <input type="text" name="authorName" placeholder="Author name">
    <input type="textarea" name="postContent" size="100" placeholder="Post content goes here">
    <input type="submit">

    </fieldset>
  </form> -->
    <!-- from heavy review -->
    <form method="POST" action="/blog/new">
      <div>
         <select name="blogger">
            <% scribblers.forEach(function (author) { %>
                <option value="<%=author.id%>">
                    <%= author.name %>
                 </option>
            <% }) %>
         </select>
      </div>
       <!--<input type="text" name="content">-->
       <textarea name="content"></textarea>
       <div>
        <input type="submit">
      </div>
    </form>

  <ul>
    <li><a href="../">Home</a></li>
    <li><strike><a href="">Add new Blogger</a></strike></li>
    <li>Other Link</li>
  </ul>

</body>
</html>